body {
  background: #121212;
  color: #fff;
  font-weight: lighter;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
}

/* File select */

#loader {
  margin: 32px 0;
}

#pti-file-input {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#pti-file-input[disabled] {
  cursor: not-allowed;
}

label[for="pti-file-input"] {
  display: block;
  position: relative;
  width: 100%;
  outline: 1px dashed #cfcfcf;
  background: #0a0a0a;
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
}

label[for="pti-file-input"]:focus,
label[for="pti-file-input"]:focus-within {
  outline: 1px solid #651f1f;
}

/* Toolbar */

#toolbar:not(:empty) {
  order: 1;
  padding-bottom: 24px;
}

#toolbar:not(:empty) + #loader {
  order: 2;
  margin-top: 0;
}

.controls {
  display: flex;
  flex: calc(4rem + 8px)4 1;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-end;
}

.controls button {
  background: linear-gradient(to top, #3b3b43, #1b191a);
  color: white;
  font-size: .75rem;
  line-height: 1.25;
  display: inline-flex;
  align-items: flex-end;
  margin: 0 0 8px 8px;
  width: 4rem;
  height: 4rem;
  border: 4px outset #3b3b43;
  border-radius: 4px;
  padding: 4px;
  text-align: left;
  cursor: pointer;
  touch-action: manipulation;
}

.controls button:focus {
  border-style: inset;
  outline: 1px solid #651f1f;
}

/* Instrument display */

#pti-instrument-display:not(:empty) {
  width: 100%;
  position: sticky;
  top: 0;
  padding: 16px 0;
  align-self: flex-start;
  background: #121212;
}

canvas.waveform {
  display: block;
  height: 150px;
  width: 100%;
  border: 1px solid #0a0a0a;
}

/* Instrument preview */

#pti-instrument-preview:not(:empty) {
  display: flex;
  width: 100%;
  position: sticky;
  bottom: 0;
  padding: 16px 0;
  align-self: flex-end;
  flex-wrap: wrap;
  background: #121212;
}

.keypad-container {
  scroll-snap-type: y mandatory;
  height: calc(3.5rem * 2);
  overflow: hidden;
}

@media (min-width: calc(2rem + calc(3.5rem * 12))) and (min-height: calc(3.5rem * 16)) {
  .keypad-container {
    height: auto;
  }
}

.keypad-row {
  display: grid;
  grid-template-columns: repeat(6, 3rem);
  grid-auto-rows: 3rem;
  gap: 8px;
  margin-bottom: 8px;
}

.keypad-row button {
  grid-row: 2;
}

.keypad-row button:nth-child(n+7) {
  grid-row: 1;
}

.keypad-container.sliced .keypad-row button {
  grid-row: unset;
}

@media (min-width: calc(2rem + calc(3.5rem * 12))) {
  .keypad-row {
    grid-template-columns: repeat(12, 3rem);
  }

  .keypad-container .keypad-row button {
    grid-row: unset;
  }
}

.keypad-row button {
  background: radial-gradient(#e6e9cc, #b3b3a3);
  width: 3rem;
  height: 3rem;
  border: 1px outset #3b3b43;
  padding: 0;
  scroll-snap-align: start;
  cursor: pointer;
  touch-action: manipulation;
}

.keypad-row button:disabled {
  cursor: not-allowed;
  background: radial-gradient(#9fa187, #8f8f7c);
}

.keypad-row button:focus {
  background: radial-gradient(#f9faea, #ebebd5);
  border-style: inset;
  outline: 1px solid #651f1f;
}

/* Header data */

.error {
  text-align: center;
}

#pti-instrument-data:not([hidden]) {
  display: flex;
  flex-grow: 1;
}

table {
  width: 100%;
}

th,
td {
  text-align: left;
  vertical-align: bottom;
  padding: 6px 0;
  border-bottom: 1px solid #323232;
}

th {
  color: #a0a0a0;
  font-weight: normal;
  vertical-align: top;
  padding-right: 12.5px;
  width: 8em;
}

/* Editor */

#pti-instrument-editor:not([hidden]) {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#pti-instrument-editor nav {
  /*order: 1;*/
  margin-bottom: 16px;
}

#pti-instrument-editor [role=tablist] {
  display: flex;
  margin: 0;
}

#pti-instrument-editor [role=tab] {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  height: 2.5rem;
  background: #323232;
  border: 0;
  color: #a0a0a0;
  font-size: .75rem;
  font-weight: 400;
  text-decoration: none;
}

#pti-instrument-editor [role=tab]:focus {
  outline: 1px dotted #fff;
  outline-offset: -1px;
}

#pti-instrument-editor [role=tab]:hover,
#pti-instrument-editor [role=tab]:focus,
#pti-instrument-editor [role=tab][aria-selected=true] {
  text-shadow: .5px 0 currentColor;
}

#pti-instrument-editor [role=tab][aria-selected=true] {
  background: #4a4a4a;
  color: #fefefe;
}

#pti-instrument-editor [role=tab]:not(:last-child) {
  border-right: 1px solid #a0a0a0;
}

#pti-instrument-editor form {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  scroll-snap-type: x mandatory;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

#pti-instrument-editor [role=tabpanel] {
  min-width: 100%;
  max-width: 960px;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

legend {
  display: block;
  width: 100%;
  padding: 2px;
  background-color: #fff;
  color: #000;
  font-weight: 400;
}

.row {
  display: grid;
  grid-template-columns: 6rem 1fr;
  gap: 2px;
  margin: 8px 0;
}

input[type=text],
select {
  border: 1px solid #777;
  background-color: #101010;
  width: 100%;
}

.row label {
  color: #a0a0a0;
  font-weight: 400;
}

.row label,
.row output {
  grid-column: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=range] {
  grid-column: 2;
  grid-row: 1 / span 2;
  -webkit-appearance: none;
  border: 1px solid #777;
  background-color: #101010;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 100%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 64px;
  height: 100%;
  background: #ffffff;
}

input[type=range]::-moz-range-thumb {
  width: 64px;
  height: 100%;
  background: #ffffff;
  border-radius: 0;
  border: 0;
  -webkit-appearance: none;
}

input[type=text]:focus,
input[type=range]:focus {
  outline: 1px solid #651f1f;
}

select {
  appearance: auto;
}
