html {
  overscroll-behavior: none;
  position: fixed;
  inset: 0;
}

body {
  background: #121212;
  color: #fff;
  font-weight: lighter;
  height: 100%;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.error {
  text-align: center;
}

#app {
  display: flex;
  flex-grow: 1;
  max-height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

/* File select */

#loader {
  padding: 32px 0 16px;
}

#pti-file-input {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#pti-file-input[disabled] {
  cursor: not-allowed;
}

label[for="pti-file-input"] {
  display: block;
  position: relative;
  width: 100%;
  outline: 1px dashed #cfcfcf;
  background: #0a0a0a;
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
}

label[for="pti-file-input"]:focus,
label[for="pti-file-input"]:focus-within {
  outline: 1px solid #651f1f;
}

/* Instrument display */

#pti-instrument-display:not(:empty) {
  align-self: flex-start;
  flex: 0 0 150px;
  width: 100%;
  padding: 16px 0;
  background: #121212;
}

canvas.waveform {
  display: block;
  height: 150px;
  width: 100%;
  border: 1px solid #0a0a0a;
}

/* Instrument preview */

#pti-instrument-preview:not(:empty) {
  display: flex;
  width: 100%;
  padding: 16px 0;
  align-self: flex-end;
  flex-wrap: wrap;
  background: #121212;
}

.keypad-container {
  width: 100%;
  height: calc(3.5rem * 2);
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scrollbar-width: thin;
  scrollbar-color: #fff #101010 ;
}

.keypad-container::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
  background-color: #101010;
}

.keypad-container::-webkit-scrollbar-thumb {
  background: #fff;
}

@media (min-width: calc(2rem + calc(3.5rem * 12))) and (min-height: calc(3.5rem * 12)) {
  .keypad-container {
    height: auto;
  }
}

.keypad-row {
  display: grid;
  grid-template-columns: repeat(6, 3rem);
  grid-auto-rows: 3rem;
  gap: 8px;
  margin-bottom: 8px;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.keypad-row button {
  grid-row: 2;
}

.keypad-row button:nth-child(n+7) {
  grid-row: 1;
}

.keypad-container.sliced .keypad-row button {
  grid-row: unset;
}

@media (min-width: calc(2rem + calc(3.5rem * 12))) {
  .keypad-row {
    grid-template-columns: repeat(12, 3rem);
  }

  .keypad-container .keypad-row button {
    grid-row: unset;
  }
}

.keypad-row button {
  background: radial-gradient(#e6e9cc, #b3b3a3);
  width: 3rem;
  height: 3rem;
  border: 1px outset #3b3b43;
  padding: 0;
  scroll-snap-align: start;
  cursor: pointer;
  touch-action: manipulation;
}

.keypad-row button:disabled {
  cursor: not-allowed;
  background: radial-gradient(#9fa187, #8f8f7c);
}

.keypad-row button:focus {
  background: radial-gradient(#f9faea, #ebebd5);
  border-style: inset;
}

/* Editor */

#pti-instrument-editor:not([hidden]) {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden;
}

#pti-instrument-editor nav {
  order: 1;
}

#pti-instrument-editor [role=tablist] {
  display: flex;
  margin: 0;
}

#pti-instrument-editor [role=tab] {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  height: 2.5rem;
  background: #323232;
  border: 0;
  color: #a0a0a0;
  font-size: .75rem;
  font-weight: 400;
  text-decoration: none;
}

#pti-instrument-editor [role=tab]:focus {
  outline: 1px dotted #fff;
  outline-offset: -1px;
}

#pti-instrument-editor [role=tab]:hover,
#pti-instrument-editor [role=tab]:focus,
#pti-instrument-editor [role=tab][aria-selected=true] {
  text-shadow: .5px 0 currentColor;
}

#pti-instrument-editor [role=tab][aria-selected=true] {
  background: #4a4a4a;
  color: #fefefe;
}

#pti-instrument-editor [role=tab]:not(:last-child) {
  border-right: 1px solid #a0a0a0;
}

#pti-instrument-editor form {
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

#pti-instrument-editor [role=tabpanel] {
  min-width: 100%;
  max-width: 960px;
  max-height: 100%;
  overflow: auto;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

#pti-instrument-editor form,
#pti-instrument-editor [role=tabpanel] {
  scrollbar-width: thin;
  scrollbar-color: #fff #101010;
}

#pti-instrument-editor form::-webkit-scrollbar,
#pti-instrument-editor [role=tabpanel]::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
  background-color: #101010;
}

#pti-instrument-editor form::-webkit-scrollbar-thumb,
#pti-instrument-editor [role=tabpanel]::-webkit-scrollbar {
  background: #fff;
}

[role=tabpanel] legend {
  position: sticky;
  top: 0;
  display: block;
  width: 100%;
  padding: 2px;
  background-color: #fff;
  color: #000;
  font-weight: 400;
}

.row:not([hidden]) {
  display: grid;
  grid-template-columns: 6rem 1fr;
  gap: 2px;
  margin: 8px 0;
}

.row input[type=text],
.row input[type=number],
.row button,
.row select {
  border: 1px solid #777;
  background-color: #101010;
  min-height: 3rem;
  width: 100%;
}

.row button {
  cursor: pointer;
}

.row button:not(:last-child) {
  margin-bottom: 8px;
}

.row select {
  appearance: auto;
}

.row label {
  color: #a0a0a0;
  font-weight: 400;
}

.row label,
.row output {
  grid-column: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row input[type=number],
.row input[type=range] {
  grid-column: 2;
  grid-row: 1 / span 2;
  width: 100%;
  height: 100%;
}

.row input[type=range] {
  -webkit-appearance: none;
  border: 1px solid #777;
  background-color: #101010;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 100%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 64px;
  height: 100%;
  background: #ffffff;
}

input[type=range]::-moz-range-thumb {
  width: 64px;
  height: 100%;
  background: #ffffff;
  border-radius: 0;
  border: 0;
  -webkit-appearance: none;
}

button:focus,
select:focus,
input[type=text]:focus,
input[type=number]:focus,
input[type=range]:focus {
  outline: 1px solid #651f1f;
  outline-offset: -1px;
}

input[type=number] {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2048%2048%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M24%204%2040%2016%208%2016M24%2044L40%2032%208%2032Z%22%2F%3E%3C%2Fsvg%3E');
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
}

@-moz-document url-prefix() {
  /* Cannot style the spin buttons in Firefox */
  input[type=number] {
    appearance: textfield;
    background-image: none;
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  opacity: 1;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
