body {
  background: #121212;
  color: #fff;
  font-weight: lighter;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 25px 25px;
}

/* File select */

#pti-file-input {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#pti-file-input[disabled] {
  cursor: not-allowed;
}

label[for="pti-file-input"] {
  display: block;
  position: relative;
  width: 100%;
  margin: 25px 0;
  outline: 1px dashed #cfcfcf;
  background: #0a0a0a;
  border-radius: 25px;
  padding: 25px;
  text-align: center;
}
label[for="pti-file-input"]:focus,
label[for="pti-file-input"]:focus-within {
  outline: 1px solid #651f1f;
}

/* Instrument preview */

#pti-file-preview {
  display: flex;
  flex-wrap: wrap;
}

canvas.waveform {
  display: block;
  margin-bottom: 25px;
  height: 150px;
  width: 100%;
  border: 1px solid #0a0a0a;
}

.keypad {
  flex: 1 1 1cm;
  flex-wrap: wrap;
}

.keypad button {
  background: radial-gradient(#e2e4cc, #9e9e92);
  width: 0.75cm;
  height: 0.75cm;
  margin-right: 2.5mm;
  margin-bottom: 2.5mm;
  border: 1px outset #3b3b43;
  padding: 0;
}

.keypad button:focus {
  background: radial-gradient(#fcfdee, #e7e7d3);
  border-style: inset;
  outline: 1px solid #651f1f;
}

.controls {
  display: flex;
  flex: 0 0 3.4cm;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-end;
}

.controls button {
  background: linear-gradient(to top, #3b3b43, #1b191a);
  color: white;
  font-size: 3mm;
  line-height: 1.25;
  display: inline-flex;
  align-items: flex-end;
  margin: 0 0 2mm 2mm;
  width: 1.5cm;
  height: 1.5cm;
  border: 1mm outset #3b3b43;
  border-radius: 1mm;
  padding: 1mm;
  text-align: left;
  cursor: pointer;
}

.controls button:focus {
  border-style: inset;
  outline: 1px solid #651f1f;
}

/* Header data */

.error {
  text-align: center;
}

table {
  width: 100%;
  margin-bottom: 25px;
}
th,
td {
  text-align: left;
  vertical-align: bottom;
  padding: 6px 0;
  border-bottom: 1px solid #323232;
}
th {
  color: #777;
  font-weight: normal;
  vertical-align: top;
  padding-right: 12.5px;
  width: 8em;
}


/* Form */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 2px;
  background-color: #fff;
  color: #000;
  font-weight: 400;
}

fieldset th {
  vertical-align: middle;
}

input[type=text] {
  border: 1px solid #777;
  background-color: #101010;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 2px 0;
  border: 1px solid #777;
  height: 32px;
  background-color: #101010;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 32px;
  height: 32px;
  background: #ffffff;
}

input[type=range]::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background: #ffffff;
  border-radius: 0;
  border: 0;
  -webkit-appearance: none;
}

input[type=text]:focus,
input[type=range]:focus {
  outline: 1px solid #651f1f;
}
