body {
  background: #121212;
  color: #fff;
  font-weight: lighter;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 32px;
}

/* File select */

#loader {
  margin: 32px 0;
}

#pti-file-input {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#pti-file-input[disabled] {
  cursor: not-allowed;
}

label[for="pti-file-input"] {
  display: block;
  position: relative;
  width: 100%;
  outline: 1px dashed #cfcfcf;
  background: #0a0a0a;
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
}

label[for="pti-file-input"]:focus,
label[for="pti-file-input"]:focus-within {
  outline: 1px solid #651f1f;
}

/* Toolbar */

#toolbar:not(:empty) {
  order: 1;
  padding-bottom: 24px;
}

#toolbar:not(:empty) + #loader {
  order: 2;
  margin-top: 0;
}

#toolbar:not(:empty) + #loader {
  order: 2;
  margin-top: 0;
}

.controls {
  display: flex;
  flex: calc(4rem + 8px)4 1;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-end;
}

.controls button {
  background: linear-gradient(to top, #3b3b43, #1b191a);
  color: white;
  font-size: .75rem;
  line-height: 1.25;
  display: inline-flex;
  align-items: flex-end;
  margin: 0 0 8px 8px;
  width: 4rem;
  height: 4rem;
  border: 4px outset #3b3b43;
  border-radius: 4px;
  padding: 4px;
  text-align: left;
  cursor: pointer;
}

.controls button:focus {
  border-style: inset;
  outline: 1px solid #651f1f;
}

/* Instrument display */

#pti-instrument-display:not(:empty) {
  width: 100%;
  position: sticky;
  top: 0;
  padding: 16px 0;
  align-self: flex-start;
  background: #121212;
}

canvas.waveform {
  display: block;
  height: 150px;
  width: 100%;
  border: 1px solid #0a0a0a;
}

/* Instrument preview */

#pti-instrument-preview:not(:empty) {
  display: flex;
  width: 100%;
  position: sticky;
  bottom: 0;
  padding: 16px 0;
  align-self: flex-end;
  flex-wrap: wrap;
  background: #121212;
}

.keypad-container {
  direction: rtl;
  flex: auto 0 0;
  min-width: 72px;
  height: 72px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-color: #000 #fff;
}

/* customize scrollbar css */
.keypad-container::-webkit-scrollbar {
  width: 32px;
  background-color: #000;
  border: 1px solid #777;
}

.keypad-container::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.keypad {
  direction: ltr;
  display: grid;
  grid-auto-columns: 32px;
  grid-auto-rows: 32px;
  gap: 8px 8px;
}

.keypad button {
  grid-row: 1;
  background: radial-gradient(#e2e4cc, #9e9e92);
  width: 32px;
  height: 32px;
  border: 1px outset #3b3b43;
  padding: 0;
  scroll-snap-align: start;
}

@media (max-width: 393px) {
  .keypad button {
    grid-row: 3;
  }

  .keypad button:nth-child(n+5) {
    grid-row: 2;
  }

  .keypad button:nth-child(n+9) {
    grid-row: 1;
  }

  .keypad button:nth-child(n+13) {
    grid-row: 6;
  }

  .keypad button:nth-child(n+17) {
    grid-row: 5;
  }

  .keypad button:nth-child(n+21) {
    grid-row: 4;
  }

  .keypad button:nth-child(n+25) {
    grid-row: 9;
  }

  .keypad button:nth-child(n+29) {
    grid-row: 8;
  }

  .keypad button:nth-child(n+33) {
    grid-row: 7;
  }

  .keypad button:nth-child(n+37) {
    grid-row: 12;
  }

  .keypad button:nth-child(n+41) {
    grid-row: 11;
  }

  .keypad button:nth-child(n+45) {
    grid-row: 10;
  }
}

@media (min-width: 394px) and (max-width: 633px) {
  .keypad button {
    grid-row: 2;
  }

  .keypad button:nth-child(n+7) {
    grid-row: 1;
  }

  .keypad button:nth-child(n+13) {
    grid-row: 4;
  }

  .keypad button:nth-child(n+19) {
    grid-row: 3;
  }

  .keypad button:nth-child(n+25) {
    grid-row: 6;
  }

  .keypad button:nth-child(n+31) {
    grid-row: 5;
  }

  .keypad button:nth-child(n+37) {
    grid-row: 8;
  }

  .keypad button:nth-child(n+43) {
    grid-row: 7;
  }
}

@media (min-width: 634px) {
  .keypad button:nth-child(n+13) {
    grid-row: 2;
  }

  .keypad button:nth-child(n+25) {
    grid-row: 3;
  }

  .keypad button:nth-child(n+37) {
    grid-row: 4;
  }
}


.keypad button:focus {
  background: radial-gradient(#fcfdee, #e7e7d3);
  border-style: inset;
  outline: 1px solid #651f1f;
}

/* Header data */

.error {
  text-align: center;
}

table {
  width: 100%;
}

th,
td {
  text-align: left;
  vertical-align: bottom;
  padding: 6px 0;
  border-bottom: 1px solid #323232;
}

th {
  color: #a0a0a0;
  font-weight: normal;
  vertical-align: top;
  padding-right: 12.5px;
  width: 8em;
}


/* Form */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 2px;
  background-color: #fff;
  color: #000;
  font-weight: 400;
}

fieldset th {
  vertical-align: middle;
}

input[type=text], select {
  border: 1px solid #777;
  background-color: #101010;
  width: 100%;
}

.range-output {
  display: flex;
}

.range-output output {
  flex-basis: 5em;
  flex-shrink: 0;
  margin-left: 6px;
  align-self: center;
  text-align: right;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 2px 0;
  border: 1px solid #777;
  height: 32px;
  background-color: #101010;
  cursor: pointer;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 32px;
  height: 32px;
  background: #ffffff;
}

input[type=range]::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background: #ffffff;
  border-radius: 0;
  border: 0;
  -webkit-appearance: none;
}

input[type=text]:focus,
input[type=range]:focus {
  outline: 1px solid #651f1f;
}

select {
  appearance: auto;
}
